<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reserva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centralizar">
    
    <div class="titulo-reserva">
      <label for="reserva">Realize sua reserva abaixo</label>
    </div>
    <ion-card style="height: 100%">
      <ion-card-content>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
        <ion-select style="margin-top: 5px;" label="Serviços" [multiple]="true" label-placement="floating" fill="outline">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
        <ion-select style="margin-top: 5px;" label="Funcionarios" [multiple]="true" label-placement="floating" fill="outline">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
