<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reserva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centralizar">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ultimas Reservas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="corte" src="assets\cut.svg" />
            </ion-thumbnail>
            <ion-label>
              <h2>13/09/23 - 15:30</h2>
              <p><ion-chip color="primary">Agendado</ion-chip></p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="corte" src="assets\cut.svg" />
            </ion-thumbnail>
            <ion-label>08/08/23 - 10:00</ion-label>
            <ion-chip color="success">Finalizado</ion-chip>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="corte" src="assets\cut.svg" />
            </ion-thumbnail>
            <ion-label>07/08/23 - 10:00</ion-label>
            <ion-chip color="danger">Cancelado</ion-chip>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
